# =========================
# SECRETS / ENVIRONMENT
# =========================
.env
*.env

# =========================
# DATABASE BACKUPS
# =========================
*.sql
*.dump
*.backup

# =========================
# ANGULAR
# =========================
cyberwatch-frontend/node_modules/
cyberwatch-frontend/dist/
cyberwatch-frontend/.angular/
cyberwatch-frontend/.cache/

# =========================
# SPRING BOOT / MAVEN
# =========================
cyberwatch-backend/target/
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/
cyberwatch-frontend/.vscode/
cyberwatch-backend/.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMPORARY FILES
# =========================
*.tmp
*.temp
*.swp